# IDEs and OS Files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Global Environment and Dependencies
node_modules/
venv/
env/
.venv/
.env
.env.*

# Python Cache
__pycache__/
*.pyc
*.pyo

# Build artifacts
dist/
build/
*.egg-info/
